    html, body { height: 100%; }
    .w-80 { width: 20rem; }
    .top-100 { top: 100%; }
    .invert { filter: invert(1); }
    .transition { transition: left 400ms ease-in-out; }
    .offscreen { left: -20rem; }